.container{
  width: 1440px;
height: 838px;
left: 0px;
margin-top: 50px;

/* BGG */

background: #FAFBFC;
/* light */

box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.npeople{
  width: 500px;
height: 141px;
left: 120px;
top: 609px;

background: #FFFFFF;
border-radius: 0px 0px 5px 5px;
}
.backarrow{
  margin-top:13px ;
  margin-left: 120px;
  margin-bottom:0% ;
  border: none;
  background: #FAFBFC;
}
.new{
  width: 253px;
height: 33px;
margin-left: 13.5px;
margin-top: 13px;
margin-bottom: 0%;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.nextarrow{
  margin-top:13px ;
  margin-left: 760px;
  margin-bottom:0% ;
  border: none;
  background: #FAFBFC;
}
.poly1{
  margin-top:26px ;
  margin-left: 161px;
  margin-bottom:0% ; 
}
.line1{
  width: 250px;
height: 0px;
margin-left: 0px;
margin-top: 49.5px;
margin-bottom:0% ; 

/* grey */

border: 1px solid #D9D9D9;
}.poly2{
  margin-top:26px ;
  margin-left: 0%;
  margin-bottom:0% ; 
}
.p1{
  width: 132px;
  height: 22px;
  margin-left: 120px;
  margin-top: 23px;
  margin-bottom:0% ; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #456DD3;
}
.p2{
  width: 76px;
height: 22px;
margin-left: 197px;
margin-top: 23px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.p3{
  width: 104px;
height: 22px;
margin-left: 212px;
margin-top: 23px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.p4{
  width: 127px;
height: 22px;
margin-left: 187px;
margin-top: 23px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.role{
  width: 69px;
height: 25px;
margin-left: 120px;
margin-top: 30px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.what{
  margin-top: 33px;
  margin-left: 3px;
  margin-bottom: 0%;
}
.what2{
  margin-top: 40px;
  margin-left: 3px;
  margin-bottom: 0%;
}
.box1{
  width: 500px;
height: 40px;
margin-left: 120px;
margin-top: 11px;
margin-bottom: 0%;
/* Stokeee */
background: #FAFBFC;
border: 1px solid #E0E4EC;
border-radius: 5px;
}
.input{
  border: none;
  width: 450px;
  margin-top: 5px;
  margin-left: 5px;
  background:#FAFBFC ;
}
.input2{
  border: none;
  width: 450px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
  background:#FAFBFC ;
}
.dropdown{
  margin-top: 15px;
  margin-left: 15px;
}
.newasses{
  width: 137px;
height: 25px;
margin-bottom: 0%;
margin-top: 36px;
margin-left: 120px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.hpeople{
  width: 288px;
height: 25px;
margin-top:0%;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
width: 500px;
height: 141px;
margin-left: 120px;
margin-top: 0px;

background: #FFFFFF;
border-radius: 0px 0px 5px 5px;
}
.p{
  width: 174px;
height: 19px;
margin-left: 13px;
margin-bottom: 0%;
margin-top: 4px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}
.no{
  width: 288px;
height: 25px;
margin-left: 120px;
margin-top: 23px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */


/* bbbbbbbb */

color: #464255;
}